$black: #000;
$white: #FFFFFF;
$gray: #a19a9a;
$orange: #FFa500;
$first: #EE6352;
// red
$second: #08B2E3;
// blue
$third: #EfE9F4;
// silver
$fourth: #57A773;
// green
$fifth: #484D6D;
// navy
$sixth: #7441A5;
// purple
$seventh: #FFD63D;
// yellow
$eighth: #9A7470;
// brown

dialog, .newPlayer {
  border: 10px solid $orange;
  box-shadow: 10px 10px 10px $black;
}

form {
  color: $black;
}

.board, .corner, .dash, .name, .space, .newPlayer {
  background-color: $white;
}

.board {
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;
}

.corner, .space {
  border: 1px solid $black;
}

.dash {
  box-shadow: 5px 5px 5px $black;
  border: 2px solid $black;
}

.dashLinks {
  background-color: $orange;
  color: $white;
  border-right: 3px solid $gray;
}

.nav a, #turn, #title {
  color: $white;
  text-shadow: 1px 1px 1px $black;
}

.nav a:hover {
  color: $gray;
}

.questionMark, .questionMarkSmall {
  color: $orange;
}

.property {
  border: 1px solid $black;
  box-shadow: 1px 1px 1px $black;
}

.propName {
  color: $orange;
}

#balance {
  color: $fourth;
}

#chance, #community, #elevator {
  background-color: $white;
  color: $black;
}

#chance, #community, #getOut {
  border: 10px solid $gray;
  box-shadow: 4px 4px 4px $gray;
}

#foFree {
  color: $orange;
}

#go {
  color: $orange;
}

#name {
  color: $black;
}

#sp0, #sp20, #sp30 {
  border: 5px solid $orange;
}

#sp10 {
  background-color: $orange;
  color: $white;
}

#sp12, #sp28 {
  background-color: $orange;
  color: $white;
}

#sp15, #sp25, #sp35, #sp5 {
  background-color: $gray;
  color: $white;
}

#f1, #f2, #f3 {
  background-color: $first;
}

#s1, #s2, #s3 {
  background-color: $second;
}

#t1, #t2, #t3 {
  background-color: $third;
}

#fo1, #fo2, #fo3 {
  background-color: $fourth;
}

#fi1, #fi2, #fi3 {
  background-color: $fifth;
}

#si1, #si2 {
  background-color: $sixth;
}

#sv1, #sv2, #sv3 {
  background-color: $seventh;
}

#e1, #e2 {
  background-color: $eighth;
}

#weatherAPI {
  color: $white;
  text-shadow: 1px 1px 1px $black;
}
