form {
  width: 70%;
  margin: 25px auto;
  padding: 25px;
}

input {
  margin-top: 1%;
  line-height: 1.7;
  width: 30%;
  display: inline-block;
  margin-left: 2%;
}

select {
  margin-top: 1%;
  width: 10%;
  text-align: center;
  margin-left: 2%;
}

label {
  vertical-align: bottom;
  width: 10%;
  margin: 0 auto;
}

.newPlayer {
  width: 80%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.join_game {
  height: 65px;
  margin-top: 25px;
  input {
    width: auto;
  }
}
