form {
  background-color: blue;
  border-radius: 10px;
  color:black;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  // padding-left: 10%;
  }
h1 {
  font-size: 50px;
  text-align: center;
}

input {
  margin-top: 1%;
  line-height: 1.7;
  width: 30%;
  display: inline-block;
  margin-left: 2%;
}

select {
  margin-top: 1%;
  width: 15%;
  text-align: center;
  margin-left: 2%;
}
.join_game {
  height: 65px;
  font-size: 22px;
  margin-top: 5%;
} 
label {
  vertical-align: bottom;
  width: 10%;
  font-size: 20px;
  margin: 0 auto;
}
