* {
  box-sizing: border-box;
}

html {
  background-image: url("/stylesheets/images/desk.jpg");
  background-size: 100%;
}

div {
  background-size: contain;
  background-repeat: no-repeat;
}

dialog {
  height: 200px;
  width: 350px;
  padding: 20px;
  padding-top: 30px;
  z-index: 20;
  overflow: scroll;
  button {
    width: 100px;
    padding: 5px;
    margin: 15px;
  }
}

p {
  padding: 5px;
}

.board {
  width: 700px;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 40px;
  display: inline-block;
}

.col-left, .col-right, .col-center {
  display: inline-block;
}

.col-center {
  border: 1px solid black;
  width: 522px;
  background-image: url("./images/galvanizelogo.png");
  height: 522px;
  vertical-align: top;
}

.col-left {
  width: 87px;
  .space {
    width: 87px;
    height: 58px;
  }
}

.col-right {
  width: 87px;
  .space {
    width: 87px;
    height: 58px;
  }
  p {
    padding: 2px;
  }
}

.container-top {
  height: 80%;
  display: block;
  margin: 0 auto;
}

.container-right {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}

.dash {
  display: inline-block;
  vertical-align: top;
  width: 650px;
  height: 700px;
  margin-top: 40px;
  overflow: scroll;
}

.dashLinks {
  display: inline-block;
  height: 100%;
  width: 100px;
  padding: 10px;
  float: right;
}

.dice {
  background-image: url("./images/dice.png");
  background-repeat: no-repeat;
  height: 100px;
  width: 150px;
  float: right;
  margin: 15px;
}

.dice:hover {
  cursor:pointer;
}

.header {
  margin: 4px;
}

.name {
  height: 55px;
}

.nav {
  width: 100%;
  height: 40px;
  padding: 1%;
  margin-bottom: 15px;
  a {
    text-decoration: none;
    padding: 10px;
    padding-right: 30px;
  }
}

.prices {
  padding: 2px;
}

.propDisplay {
  padding: 5px;
}

.questionMark, .questionMarkSmall {
  padding-top: 10px;
}

.questionMark {
  font-size: 120px;
}

.questionMarkSmall {
  font-size: 50px;
}

.rotateLeft {
  transform: rotate(-90deg);
  position: relative;
  top: -5px;
  padding: 0px;
}

.row-top, .row-center, .row-bottom {
  width: 700px;
  display: inline;
}

.row-top {
  .bar {
    position: relative;
    width: 100%;
    height: 20%;
  }
  .space {
    width: 58px;
    height: 87px;
  }
}

.row-bottom {
  .bar {
    width: 100%;
    height: 20%;
  }
  .space {
    width: 58px;
    height: 87px;
  }
}

.row-center {
  height: 570px;
  p {
    display: inline-block;
    float: right;
    width: 80%;
  }
  .bar-left {
    width: 20%;
    height: 100%;
    float: right;
    display: inline-block;
  }
  .bar-right {
    display: inline-block;
    float: left;
    width: 20%;
    height: 100%;
    vertical-align: top;
  }
}

.property {
  width: 30%;
  line-height: 0.7;
  height: 180px;
  display: inline-block;
  margin-left: 2.5%;
  margin-bottom: 5%;
  margin-top: 5%;
  vertical-align: top;
  float: left;
}

.space, .corner {
  vertical-align: top;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-collapse: collapse;
  background-position: center;
  position: relative;
}

.token {
  height: 65px;
  width: 65px;
  z-index: 1;
  position: absolute;
  top: 25%;
}

.corner {
  height: 87px;
  width: 87px;
}

.corner .space {
  width: 100%;
  height: 100%;
  border: none;
}

#balance, #getOut {
  height: 100px;
  width: 45%;
  display: inline-block;
  padding: 10px;
  margin: 2.5%;
  text-align: center;
  vertical-align: super;
}

#closeButton {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin: 0px;
}

#getOut {
  width: 230px;
  padding: 13px;
}

#chance, #community {
  margin: 20px;
  position: relative;
  text-align: center;
  padding: 10px;
}

#chance {
  height: 200px;
  width: 100px;
  top: 10px;
  left: 50px;
  transform: rotate(45deg);
}

#chillin {
  position: relative;
  top: 2px;
}

#community {
  height: 100px;
  width: 200px;
  top: 110px;
  left: 280px;
  transform: rotate(-45deg);
}

#elevator {
  height: 70%;
  width: 80%;
  padding: 3px;
  float: right;
  position: relative;
  top: 0px;
}

#errorMsg {
  display: inline-block;
  position: relative;
  top: 50px;
}

#freeParking {
  padding-top: 20%;
}

#mortgageButton {
  width: auto;
}

#name {
  display: inline-block;
  padding: 10px;
  padding-left: 30px;
}

#sp17, #sp33, #sp2 {
  background-image: url("./images/chest.gif");
  background-position: center;
}

#sp17, #sp33 {
  background-size: 70%;
}

#sp2 {
  background-size: 100%;
}

#weatherAPI {
  float: left;
}
