body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  font-size: 18px;
  text-align: center;
}


.space, .corner {
  font-size: 14px;
  text-align: center;
}

.rotateLeft {
  position: relative;
  top: -5px;
  padding: 0px;
}

#chillin {
  padding-top: 5px;
  padding-left: 0px;
}

#elevator {
  font-weight: normal;
}
