body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  font-size: 37px;
  text-align: left;
}

.header {
  font-size: 16px;
  text-align: center;
}

.space, .corner {
  font-size: 14px;
  text-align: center;
}

.rotateLeft {
  position: relative;
  top: -5px;
  padding: 0px;
}

.prices {
  font-size: 14px;
  text-align: center;
  padding: 2px;
}

.dashLinks {
  padding: 10px;
  float: right;
  text-decoration: none;
  font-size: 23px;
  text-align: center;
}

#chillin {
  padding-top: 5px;
  padding-left: 0px;
}

#elevator {
  font-weight: normal;
}

#balance {
  font-size: 30px;
}

#getOut {
  font-size: 25px;
}
