extends layout

block content
  h1 Let's play!
  .board
    .row-top
      .space
      .space
      .space
      .space
      .space
      .space
      .space
      .space
      .space
      .space
      .space
    .row-center
      .col-left
        .space
        .space
        .space
        .space
        .space
        .space
        .space
        .space
        .space
      .col-center
        .center-space#chance
        .center-space#community
        .center-space#logo
      .col-right
        .space
        .space
        .space
        .space
        .space
        .space
        .space
        .space
        .space
    .row-bottom
      .space
      .space
      .space
      .space
      .space
      .space
      .space
      .space
      .space
      .space
      .space
