extends layout

block content
  h1 Hey, 
    = playerName
  button(id="roll") Roll Dice
  a(href="/logout") Logout
  .board
    .row-top
      .corner
        .space#sp20
          p Free Parking
      .space#sp21
        .bar#f1
      .space#sp22
        .questionMarkSmall ?
      .space#sp23
        .bar#f2
      .space#sp24
        .bar#f3
      .space#sp25
        p Ping Pong Table
        p $200
      .space#sp26
        .bar#s1
      .space#sp27
        .bar#s2
      .space#sp28
        p Keg
      .space#sp29
        .bar#s3
      .corner
        .space#sp30 Just chillin'
          #elevator Stuck in the Elevator!
    .row-center
      .col-left
        .space#sp19
          .bar-left#t1
        .space#sp18
          .bar-left#t2
        .space#sp17
        .space#sp16
          .bar-left#t3
        .space#sp15
          p Natural Grocers
          span $200
        .space#sp14
          .bar-left#fo1
        .space#sp13
          .bar-left#fo2
        .space#sp12
          p Wi-Fi
          span $150
        .space#sp11
          .bar-left#fo3
      .col-center
        .center-space#chance Chance
          .questionMark ?
        .center-space#community
          p Community Chest
        .center-space#logo
      .col-right
        .space#sp31
          .bar-right#fi1
        .space#sp32
          .bar-right#fi2
        .space#sp33
        .space#sp34
          .bar-right#fi3
        .space#sp35
          p Cornhole
          p $200
        .space#sp36
          .rotateLeft
            .questionMarkSmall ?
        .space#sp37
          .bar-right#si1
        .space#sp38
          p PARKING TICKET
          span $75
        .space#sp39
          .bar-right#si2
    .row-bottom
      .corner
        .space#sp10
          p Take the Elevator
      .space#sp9
        .bar#sv1
      .space#sp8
        .bar#sv2
      .space#sp7
        .questionMarkSmall ?
      .space#sp6
        .bar#sv3
      .space#sp5
        p Couch
        p $200
      .space#sp4
        p LOST KEY CARD
        p $30
      .space#sp3
        .bar#e1
      .space#sp2
      .space#sp1
        .bar#e2
      .corner
        .space#sp0
          p Go
  p(id='playerData' style='visibility: hidden;') #{player1}
  script(src='/javascripts/dom.js')      
