extends layout

block content
  .nav 
    a(href="/logout") Logout
  h1#turn #{playerName}'s Turn!
  
  div#twilioCall Twilio Call  
  .board
    .row-top
      .corner
        .space#sp20
          p Free Parking
      .space#sp21
        .foo
          p E9 Data
          p $220
        .bar#f1
      .space#sp22
        .questionMarkSmall ?
      .space#sp23
        .foo
          p GLC
          p $220
        .bar#f2
      .space#sp24
        .foo
          p Tectonic
          p $240
        .bar#f3
      .space#sp25
        p Ping Pong Table
        p $200
      .space#sp26
        .foo
          p Status Page
          p $260
        .bar#s1
      .space#sp27
        .foo
          p Mozilla
          p $260
        .bar#s2
      .space#sp28
        p Keg
      .space#sp29
        .foo
          p Quick Left
          p $260
        .bar#s3
      .corner
        .space#sp30 Just chillin'
          #elevator Stuck in the Elevator!
    .row-center
      .col-left
        .space#sp19
          .bar-left#t1
          p Amplio Digital
          span $220
        .space#sp18
          .bar-left#t2
          p Drizly
          span $200
        .space#sp17
        .space#sp16
          .bar-left#t3
          p Givella
          span $180
        .space#sp15
          p Natural Grocers
          span $200
        .space#sp14
          .bar-left#fo1
          p SVB
          span $160
        .space#sp13
          .bar-left#fo2
          p Third Social
          span $140
        .space#sp12
          p Wi-Fi
          span $150
        .space#sp11
          .bar-left#fo3
          p Waveland Ventures
          span $140
      .col-center
        .dice#roll
        .center-space#chance Chance
          .questionMark ?
        .center-space#community
          p Community Chest
        .center-space#logo
      .col-right
        .space#sp31
          p Bitly
          span $300
          .bar-right#fi1
        .space#sp32
          p Staff IQ
          span $300
          .bar-right#fi2
        .space#sp33
        .space#sp34
          p Bowtie
          span $320
          .bar-right#fi3
        .space#sp35
          p Cornhole
          p $200
        .space#sp36
          .rotateLeft
            .questionMarkSmall ?
        .space#sp37
          p Artifact Uprising
          p $350
          .bar-right#si1
        .space#sp38
          p PARKING TICKET
          span $75
        .space#sp39
          p Pivotal Labs
          span $400
          .bar-right#si2
    .row-bottom
      .corner
        .space#sp10
          p Take the Elevator
      .space#sp9
        .bar#sv1
        p RxAs.
        p $120
      .space#sp8
        .bar#sv2
        p Revolar
        p $100
      .space#sp7
        .questionMarkSmall ?
      .space#sp6
        .bar#sv3
        p Merx Intl.
        p $100
      .space#sp5
        p Couch
        p $200
      .space#sp4
        p LOST KEY CARD
        p $30
      .space#sp3
        .bar#e1
        p Merdal Invest.
        p $60
      .space#sp2
      .space#sp1
        .bar#e2
        p Exit now
        p $60
      .corner
        .space#sp0
          p Go
  .dash
    .name
      h2#name
      for player in allPlayers
        a.dashLinks(id=player.name name="dashLink" href="#")= player.name
    #balance
    #getOut(style='visibility: hidden;') ESCAPE ELEVATOR FOR FREE
    div#dollarSign
    #deedContainer
      
  dialog#myDialog 
  dialog#myDialog2
  div(id='playerData' style='visibility: hidden;')
    for player in allPlayers
      p #{player.name};#{player.token}
  script(src="/javascripts/deedConstructor.js")
  script(src="/javascripts/playerConstructor.js")
  script(src="/javascripts/cardsConstructor.js")
  script(src="/javascripts/playerMethods.js")
  script(src="/javascripts/selectingPlayerFunction.js")
  script(src='/javascripts/dom.js')      
  script(src='/javascripts/lib.js')      
  script(src='/javascripts/dash.js')      
