/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  background-repeat: no-repeat; }

html {
  background-image: url("/stylesheets/images/desk.jpg");
  background-size: 100%; }

div {
  background-size: contain; }

dialog {
  height: 200px;
  width: 350px;
  padding: 20px;
  padding-top: 30px;
  z-index: 20; }
  dialog button {
    width: 100px;
    padding: 5px;
    margin: 15px; }

p {
  padding: 5px; }

.board {
  width: 700px;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 40px;
  display: inline-block; }

.col-left, .col-right, .col-center {
  display: inline-block; }

.col-center {
  border: 1px solid black;
  width: 522px;
  background-image: url("./images/galvanizelogo.png");
  height: 522px;
  vertical-align: top; }

.col-left {
  width: 87px; }
  .col-left .space {
    width: 87px;
    height: 58px; }

.col-right {
  width: 87px; }
  .col-right .space {
    width: 87px;
    height: 58px; }
  .col-right p {
    padding: 2px; }

.container-top {
  height: 80%;
  display: block;
  margin: 0 auto; }

.container-right {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
  float: right;
  padding-top: 5px;
  padding-right: 10px; }

.dash {
  display: inline-block;
  vertical-align: top;
  width: 650px;
  height: 700px;
  margin-top: 40px;
  overflow: scroll; }

.dashLinks {
  display: inline-block;
  height: 100%;
  width: 100px;
  padding: 10px;
  float: right; }

.dice {
  background-image: url("./images/dice.png");
  height: 100px;
  width: 150px;
  float: right;
  margin: 15px; }

.header {
  margin: 4px; }

.name {
  height: 55px; }

.nav {
  width: 100%;
  height: 40px;
  padding: 1%;
  margin-bottom: 15px; }
  .nav a {
    text-decoration: none;
    padding: 10px;
    padding-right: 30px; }

.prices {
  padding: 2px; }

.propDisplay {
  padding: 5px; }

.questionMark, .questionMarkSmall {
  padding-top: 10px; }

.questionMark {
  font-size: 120px; }

.questionMarkSmall {
  font-size: 50px; }

.rotateLeft {
  transform: rotate(-90deg);
  position: relative;
  top: -5px;
  padding: 0px; }

.row-top, .row-center, .row-bottom {
  width: 700px;
  display: inline; }

.row-top .bar {
  position: relative;
  width: 100%;
  height: 20%; }

.row-top .space {
  width: 58px;
  height: 87px; }

.row-bottom .bar {
  width: 100%;
  height: 20%; }

.row-bottom .space {
  width: 58px;
  height: 87px; }

.row-center {
  height: 570px; }
  .row-center p {
    display: inline-block;
    float: right;
    width: 80%; }
  .row-center .bar-left {
    width: 20%;
    height: 100%;
    float: right;
    display: inline-block; }
  .row-center .bar-right {
    display: inline-block;
    float: left;
    width: 20%;
    height: 100%;
    vertical-align: top; }

.property {
  width: 30%;
  line-height: 0.7;
  height: 180px;
  display: inline-block;
  margin-left: 2.5%;
  margin-bottom: 5%;
  margin-top: 5%;
  vertical-align: top;
  float: left; }

.space, .corner {
  vertical-align: top;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-collapse: collapse;
  background-position: center;
  position: relative; }

.token {
  height: 65px;
  width: 65px;
  z-index: 1;
  position: absolute;
  top: 25%; }

.corner {
  height: 87px;
  width: 87px; }

.corner .space {
  width: 100%;
  height: 100%;
  border: none; }

#balance, #getOut {
  height: 100px;
  width: 45%;
  display: inline-block;
  padding: 10px;
  margin: 2.5%;
  text-align: center;
  vertical-align: super; }

#closeButton {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin: 0px; }

#getOut {
  width: 230px;
  padding: 13px; }

#chance, #community {
  margin: 20px;
  position: relative;
  text-align: center;
  padding: 10px; }

#chance {
  height: 200px;
  width: 100px;
  top: 10px;
  left: 50px;
  transform: rotate(45deg); }

#chillin {
  position: relative;
  top: 2px; }

#community {
  height: 100px;
  width: 200px;
  top: 110px;
  left: 280px;
  transform: rotate(-45deg); }

#elevator {
  height: 70%;
  width: 80%;
  padding: 3px;
  float: right;
  position: relative;
  top: 0px; }

#errorMsg {
  display: inline-block;
  position: relative;
  top: 50px; }

#freeParking {
  padding-top: 20%; }

#mortgageButton {
  width: auto; }

#name {
  display: inline-block;
  padding: 10px;
  padding-left: 30px; }

#sp17, #sp33, #sp2 {
  background-image: url("./images/chest.gif");
  background-position: center; }

#sp17, #sp33 {
  background-size: 70%; }

#sp2 {
  background-size: 100%; }

#weatherAPI {
  float: left; }

* {
  text-align: center; }

a {
  text-decoration: none; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

dialog button {
  font-size: 12px; }

dialog p {
  font-size: 30px; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 37px;
  text-align: left; }

label {
  font-size: 20px; }

.dashLinks {
  font-size: 23px; }

.header {
  font-size: 16px; }

.nav {
  text-align: right;
  font-size: 22px; }

.corner, .prices, .space {
  font-size: 14px; }

.join_game input {
  font-size: 30px; }

.propDisplay {
  font-size: 15px; }

.propName {
  font-size: 25px; }

#balance {
  font-size: 30px; }

#chance {
  font-size: 18px; }

#getOut {
  font-size: 22px; }

#community {
  font-size: 25px; }

#errorMsg {
  text-align: center; }

#freeParking, #takeEl, #sp20 {
  font-size: 18px; }

#go {
  font-size: 30px; }

#title {
  font-size: 80px; }

#weatherAPI {
  font-size: 19px; }

dialog, .newPlayer {
  border: 10px solid #FFa500;
  box-shadow: 10px 10px 10px #000; }

form {
  color: #000; }

.board, .corner, .dash, .name, .space, .newPlayer {
  background-color: #FFFFFF; }

.board {
  border: 2px solid black;
  box-shadow: 5px 5px 5px black; }

.corner, .space {
  border: 1px solid #000; }

.dash {
  box-shadow: 5px 5px 5px #000;
  border: 2px solid #000; }

.dashLinks {
  background-color: #FFa500;
  color: #FFFFFF;
  border-right: 3px solid #a19a9a; }

.nav a, #turn, #title {
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000; }

.nav a:hover {
  color: #a19a9a; }

.questionMark, .questionMarkSmall {
  color: #FFa500; }

.property {
  border: 1px solid #000;
  box-shadow: 1px 1px 1px #000; }

.propName {
  color: #FFa500; }

#balance {
  color: #57A773; }

#chance, #community, #elevator {
  background-color: #FFFFFF;
  color: #000; }

#chance, #community, #getOut {
  border: 10px solid #a19a9a;
  box-shadow: 4px 4px 4px #a19a9a; }

#errorMsg {
  color: #FFa500; }

#foFree {
  color: #FFa500; }

#go {
  color: #FFa500; }

#name {
  color: #000; }

#sp0, #sp20, #sp30 {
  border: 5px solid #FFa500; }

#sp10 {
  background-color: #FFa500;
  color: #FFFFFF; }

#sp12, #sp28 {
  background-color: #FFa500;
  color: #FFFFFF; }

#sp15, #sp25, #sp35, #sp5 {
  background-color: #a19a9a;
  color: #FFFFFF; }

#f1, #f2, #f3 {
  background-color: #EE6352; }

#s1, #s2, #s3 {
  background-color: #08B2E3; }

#t1, #t2, #t3 {
  background-color: #EfE9F4; }

#fo1, #fo2, #fo3 {
  background-color: #57A773; }

#fi1, #fi2, #fi3 {
  background-color: #484D6D; }

#si1, #si2 {
  background-color: #7441A5; }

#sv1, #sv2, #sv3 {
  background-color: #FFD63D; }

#e1, #e2 {
  background-color: #9A7470; }

#weatherAPI {
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000; }

form {
  width: 70%;
  margin: 25px auto;
  padding: 25px; }

input {
  margin-top: 1%;
  line-height: 1.7;
  width: 30%;
  display: inline-block;
  margin-left: 2%; }

select {
  margin-top: 1%;
  width: 10%;
  text-align: center;
  margin-left: 2%; }

label {
  vertical-align: bottom;
  width: 10%;
  margin: 0 auto; }

.newPlayer {
  width: 80%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px; }

.join_game {
  height: 65px;
  margin-top: 25px; }
  .join_game input {
    width: auto; }
