/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.row-top, .row-center, .row-bottom {
  width: 700px;
  display: inline; }

.row-top .space {
  width: 58px;
  height: 87px; }

.row-bottom .space {
  width: 58px;
  height: 87px; }

.row-center {
  height: 570px;
  background-color: orange; }

.board {
  width: 700px;
  height: 700px;
  margin: 0 auto; }

.col-left {
  display: inline-block;
  width: 87px;
  background-color: pink; }
  .col-left .space {
    width: 87px;
    height: 58px;
    background-color: blue; }

.col-right {
  display: inline-block;
  width: 87px;
  background-color: pink; }
  .col-right .space {
    width: 87px;
    height: 58px;
    background-color: red; }

.col-center {
  display: inline-block;
  border: 1px solid black;
  width: 522px;
  background-color: green;
  height: 522px;
  vertical-align: top; }

.space, .corner {
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 0em;
  display: inline-block;
  border: 1px solid black;
  border-collapse: collapse; }

.corner {
  height: 87px;
  width: 87px;
  background-color: pink; }
